@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
#counter{
    text-align: center;
    font-size: 5em;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.btnContainer{
    text-align: center;
}
.btn {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #78a4d3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}